body{margin:5px 10px 0px 10px;padding:0px;font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;}

#header{margin:0px 0px 10px 0px;padding:0px;position:relative;}

.info, .error{position:absolute;top:0;right:45%;font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;border: 1px solid;margin: 0px;padding:0px;}
.info{color: #9F6000;background-color: #FEEFB3;}
.error{color: #D8000C;background-color: #FFBABA;}

TABLE{font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:100%;text-align:left;border-collapse:collapse;margin:0px;}
TABLE th{font-size:13px;font-weight:normal;background:#b9c9fe;border-top:4px solid #aabcfe;border-bottom:1px solid #fff;color:#039;padding:8px;}
TABLE td{background:#e8edff;border-bottom:1px solid #fff;color:#669;border-top:1px solid transparent;padding:8px;}
TABLE tr:hover td{background:#d0dafd;color:#339;}

H1{margin:0px 0px 0px 0px;padding:15px;color:#039;width:100%;position:absolute;text-align:center;}